.search-view-container {
    border: 2px dotted black;
    margin: 20px auto 0;
    width: 900px;
    height: 600px;
    overflow: auto;

        &__search-input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 60px;
            background-color: black;
        }

        &__view-cards {
            display: flex;
            padding: 20px;
            flex-wrap: wrap;
            justify-content: space-around;
        }
}