.certain-pokemon-page {
    width: 700px;
    margin: 50px auto 0;

    &__container-btns {
        display: flex;
        width: calc(100% - 4px);
        height: 50px;
        border: 2px solid palevioletred;
    }

    &__container-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
    }

    &__btn {
        text-decoration: none;
        font-size: 24px;
    }

    &__container-description-pokemon {
        width: 100%;
    }

    &__line-description {
        display: flex;
        width: 100%;
    }

    &__description-img {
        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: cover;
        width: 250px;
        min-width: 250px;
        height: 250px;
    }

    &__description-text {
        width: auto;
        height: auto;
        padding: 40px 20px 20px;
        font-size: 20px;
    }

    &__container-list-moves {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 4px);
        height: 500px;
        overflow: auto;
        margin: 30px auto 0;
        border: 1px solid black;
    }

    &__title-list-moves {
        position: sticky;
        display: flex;
        justify-content: center;
        top: 0;
        width: 100%;
        background-color: wheat;
        padding: 20px 0;
        font-size: 24px;
    }
    
    &__list-moves {
        list-style: none;
        font-size: 20px;
    }
}